<div class="home-page-wrapper">
  <div class="crypto-banner"  style="background-image: linear-gradient(-225deg, rgba(0,71,198,0.1) 0%, rgba(0,36,61,0.1) 93%), url(<%= image_path 'crypto-banner.jpg' %>);">
    <div class="container">
      <h1> MyCryptofolio </h1>
      <p> Manage your Cryptocurrency Assets </p>
      <div class="crypto-banner-btn">
        <%= link_to "Get Started", pages_live_market_path, class: "btn btn-dark", type: "button" %>
      </div>
    </div>
  </div>
  <div class="container" id="about">
    <h2>Our<span> Services </span></h2>
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000" id="images">
          <h4> <span>Search</span> in Real Time on <span>Crypto</span> Markets </h4>
          <%= image_tag("crypto-search.jpg", :class => "d-block w-100") %>
        </div>
        <div class="carousel-item" data-bs-interval="3000" id="images">
          <h4> <span>Manage</span> and <span>Update</span> your <span>Crypto</span> Assets </h4>
          <%= image_tag("crypto-manage.jpg", :class => "d-block w-100") %>
        </div>
        <div class="carousel-item" id="images">
          <h4> <span>Improve</span> your <span>Crypto</span> Asset Holdings </h4>
          <%= image_tag("bitcoin-keyboard.jpg", :class => "d-block w-100") %>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <footer id="footer-container"class="text-center text-lg-start pt-4">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <h5 id = "footer-main-txt" class="text-uppercase mb-4">OUR WORLD</h5>

        <ul id = "footer-links" class="list-unstyled mb-4">
          <li>
            <a href="#!" class="footer-secondary-txt">Learn About Crypto</a>
          </li>
          <li>
            <a href="#!" class="footer-secondary-txt">Financial Market News</a>
          </li>
          <li>
            <a href="#!" class="footer-secondary-txt">Crypto Investor Courses</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <h5 id = "footer-main-txt" class="text-uppercase mb-4">Assistance</h5>

        <ul id = "footer-links" class="list-unstyled">
          <li>
            <a href="#!" class="footer-secondary-txt">Contact us</a>
          </li>
          <li>
            <a href="#!" class="footer-secondary-txt">About us</a>
          </li>
          <li>
            <a href="#!" class="footer-secondary-txt">Report a Bug</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <h5 id = "footer-main-txt" class="text-uppercase mb-4">Careers</h5>

        <ul id = "footer-links" class="list-unstyled">
          <li>
            <a href="#!" class="footer-secondary-txt">Jobs</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <h5 id = "footer-main-txt" class="text-uppercase mb-4">Newsletter</h5>

        <div class="form-outline form-white mb-4">
          <input type="email" id="form5Example2" class="form-control" />
        </div>

        <button type="submit" id ="btn-footer" class="btn btn-outline-white btn-block">Subscribe</button>
      </div>
    </div>
  </div>

  <div id = "footer-main-txt" class="footer-copyright p-3">
    © 2022 Copyright MyCryptofolio
  </div>
  </footer>
</div>
