<div class="page-wrap">
  <header class="page-header">
    <article>
      <details>
        <summary>Crypto News</summary>
        <p>bla</p>
      </details>
    </article>
  </header>
  <nav class="page-nav">
    <article>
      <details>
        <summary>Live Market Prices</summary>
          <div class="row">
            <% @coins_data.each do |coin| %>
              <div class="col-sm-2" id="prices-grid">
                <tr>
                  <td><p><%= coin['name'] %></p></td>
                  <td><small>$<%= coin['quote']['USD']['price'] %></small></td>
                </tr>
              </div>
            <% end %>
          </div>
      </details>
    </article>
  </nav>
  <main class="page-main">
    <%= link_to "Add Crypto", new_crypto_path, class: "slide-btn", type: "button" %>
    <br/><br/><br/>
    <table>
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Cost Paid</th>
          <th scope="col">Amount Owned</th>
          <th scope="col">Current Price</th>
          <th scope="col">Current Total Value</th>
          <th scope="col">Total Paid</th>
          <th scope="col">Profit/Loss</th>
          <th scope="col">Percent Change
            <select>
              <option value="1">1 Hour Change</option>
              <option value="2">1 Day Change</option>
              <option value="1">1 Week Change</option>
            </select>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @parsed_cryptos.each do |crypto| %>
          <tr>
            <td data-label="Name"><%= crypto['name'] %></td>
            <td data-label="Cost Paid">$<%= crypto['cost_paid'] %></td>
            <td data-label="Amount Owned"><%= crypto['amount_owned'] %></td>
            <td data-label="Current Price">$<%= crypto['current_price'] %></td>
            <td data-label="Current Total Value">$<%= crypto['current_total_value'] %></td>
            <td data-label="Total Paid">$<%= crypto['total_paid'] %></td>
            <td data-label="Profit/Loss"><%= number_to_currency(crypto['profit_loss']) %></td>
            <td data-label="Percent Changes"><%= crypto['percent_changes'] %>%</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </main>
  <footer class="page-footer">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <h5 id = "footer-main-txt" class="text-uppercase mb-4">OUR WORLD</h5>

          <ul id = "footer-links" class="list-unstyled mb-4">
            <li>
              <a href="#!" class="footer-secondary-txt">Learn About Crypto</a>
            </li>
            <li>
              <a href="#!" class="footer-secondary-txt">Financial Market News</a>
            </li>
            <li>
              <a href="#!" class="footer-secondary-txt">Crypto Investor Courses</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <h5 id = "footer-main-txt" class="text-uppercase mb-4">Assistance</h5>

          <ul id = "footer-links" class="list-unstyled">
            <li>
              <a href="#!" class="footer-secondary-txt">Contact us</a>
            </li>
            <li>
              <a href="#!" class="footer-secondary-txt">About us</a>
            </li>
            <li>
              <a href="#!" class="footer-secondary-txt">Report a Bug</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <h5 id = "footer-main-txt" class="text-uppercase mb-4">Careers</h5>

          <ul id = "footer-links" class="list-unstyled">
            <li>
              <a href="#!" class="footer-secondary-txt">Jobs</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <h5 id = "footer-main-txt" class="text-uppercase mb-4">Newsletter</h5>

          <div class="form-outline form-white mb-4">
            <input type="email" id="form5Example2" class="form-control" />
          </div>

          <button type="submit" id ="btn-footer" class="btn btn-outline-white btn-block">Subscribe</button>
        </div>
      </div>
    </div>

    <div id = "footer-main-txt" class="footer-copyright p-3">
      © 2022 Copyright MyCryptofolio
    </div>
  </footer>
</div>
